button {
  color: var(--btn-clr, var(--textColor));
  background: var(--btn-bg-clr, var(--color-primary));
  border: none;
  border-radius: 2px;
  padding: 11px 30px;
  cursor: pointer;
  box-shadow: var(--elevation-two);
  transition: all 0.2s;

  &:hover {
    box-shadow: var(--elevation-three);
  }

  &:active {
    transform: translateY(1px);
  }
}

a {
  text-decoration: none;
  color: var(--textColor);
  border-bottom: 2px solid var(--color-primary);
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.6;
    color: var(--color-primary);
  }

  &:focus {
    outline: 2.5px dotted var(--color-secondary);
  }
}
