.container {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $extra-large-breakpoint) {
    max-width: 45rem;
  }

  @media screen and (max-width: $large-breakpoint) {
    max-width: 80%;
  }

  @media screen and (max-width: $small-breakpoint) {
    max-width: 90%;
  }
}

:focus {
  outline: none;
}

img {
  border-radius: 10px;
  box-shadow: var(--elevation-four);
}

svg {
  width: 1rem;
  height: 1rem;
}

blockquote {
  padding: $size-400 $size-500;
  margin: $size-500 0;
  font-family: var(--font-mono);
  font-style: italic;
  font-weight: 600;
  background: var(--footerBackground);
  text-align: left;

  border-width: 0 0 0 0.3rem;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      var(--color-primary) 10%,
      var(--color-primary-glare) 20%,
      var(--color-tertiary) 45%,
      var(--color-tertiary-glare) 70%,
      var(--color-secondary) 90%
    )
    1;

  p {
    padding: 0;
    margin: 0;
  }
}

strong {
  font-weight: 900;
}

form {
  background-color: var(--footerBackground);
  padding: $size-600 $size-500;
  border-radius: 10px;
  margin-top: $size-500;
  margin-bottom: $size-500;
  border: 2.5px solid var(--footerBorder);

  h4 {
    margin-top: 0;
    margin-bottom: $size-400;
  }

  fieldset {
    border: 0;
  }

  input,
  textarea {
    margin-top: $size-400;
    margin-bottom: $size-600;
    width: 100%;
    padding: 5px 8px;
    border-radius: 2px;
    border: 2px solid var(--footerBorder);
    transition: box-shadow 0.3s;

    &:focus {
      box-shadow: 0 0 0 1.5px hsl(171, 73%, 41%), 0 0 0 3.5px #5cffe7;
    }
  }

  input {
    min-height: 50px;
  }

  div:nth-child(3) {
    grid-column: 1 / -1;
  }

  button,
  a {
    width: 100%;
  }
}

.form-grid {
  --gap: 2rem;

  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-column-gap: var(--gap);
}

label {
  padding: 0;

  span {
    display: block;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='number'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='week'],
textarea,
select {
  width: 100%;
  margin-bottom: $size-600;

  border: 2px solid var(--gray-300);
  border-radius: 4px;
  padding: 5px 8px;

  transition: all 0.2s;

  &:focus {
    border: 2px solid var(--color-primary);
    box-shadow: 0px 0px 0px 3.5px var(--color-primary-glare);
  }
}

.split {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

header {
  margin: var(--spacer-500) 0;
}
